<script id="tmplObjectTypes" type="text/x-jquery-tmpl">
    <div class="col-sm-3 t-padding-left-0 t-margin-bottom-5 t-padding-right-5">
        <a href="javascript:void(0);" title="${text}" id="aObject${id}" data-val="${id}" onclick="ObjectTypeClick(${id})" class="t-map-object-type-item t-map-object-type-item-selected">
            <img src="/Content/images/markers/marker_${id}.png" alt="${text}"/>
            <span class="t-map-object-type-text">${text}</span>
         </a>
    </div>
</script>
