<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Direction</th>
        <th scope="col">Arrival</th>
        <th scope="col">Departure</th>
        <th scope="col">Network</th>
        <th scope="col">Label</th>
    </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>