<div style="display:none;">
    <div id="findByCoordinate" class="context-menu">
        <ul>
            <li>
                <h5>Tìm kiếm xung quanh</h5>
            </li>
            
            <li data-action="SEARCH"  data-value="100">
                Bán kính 100(m)
            </li>
            <li  data-action="SEARCH" data-value="200">
                Bán kính 200(m)
            </li>
            <li  data-action="SEARCH" data-value="500">
                Bán kính 500(m)
            </li>
            <li  data-action="SEARCH" data-value="1000">
                Bán kính 1(km)
            </li>
            <li  data-action="SEARCH" data-value="2000">
                Bán kính 2(km)
            </li>
            <li data-action="SEARCH" data-value="5000">
                Bán kính 5(km)
            </li>
            <li></li>
            <li>
                <h5>Tìm kiếm từ điểm đến điểm</h5>
            </li>
           <li data-action="SEARCHFROM" id="liSearchFrom">
                Tìm kiếm từ đây
            </li>
            <li data-action="SEARCHTO" id="liSearchTo" style="display: none;">
                Tìm kiếm đến đây
            </li>
            <li></li>
            <li>
                <h5>Thao tác</h5>
            </li>
            @*<li data-action="REMOVE_CIRCLE">
                Xóa vòng tròn khoanh vùng
            </li>*@
            <li data-action="RELOAD">
                Tải lại trang
            </li>
        </ul>
    </div>
</div>