@using PagedList.Mvc
@model PagedList.IPagedList<Model.Entity.RailwayStation>
@{
    var cityName = ViewBag.SearchCityName;
}
<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Uri</th>
                <th>Label</th>
                <th>Coordination</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CityUri</td>
                    <td>
                        @item.StationLabel
                    </td>
                    <td>
                        @item.Coordination
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="TrainStationPaper" style="display: inline-block; vertical-align: middle;" class="text-right">
    @Html.PagedListPager(
        Model,
        page => Url.Action("SearchTrainStation", new { page, cityName }),
        new PagedListRenderOptions()
        {
            MaximumPageNumbersToDisplay = 30,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
            Display = PagedListDisplayMode.IfNeeded
        }
        )
</div>
<script>
    $(function () {
        $("#TrainStationPaper a").click(function () {
            if (this.href.length > 0) {
                $.ajax({
                    type: "POST",
                    url: this.href,
                    beforeSend: function () {
                    }
                }).done(function (data) {
                    $("#nav-train").html(data);
                }).fail(function (jqXHR, textStatus) {
                });
            };
            return false;
        });
    });
</script>